@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

  #app{
    width: 100%;
    min-height: 100vh;
  }

  .otp-input {
    @apply focus:outline-none border-[#83838B] border-[1px] rounded md:rounded-lg mt-1 h-[36px] w-[36px] sm:h-[50px] sm:w-[50px] p-[5px] text-sm text-[#1D1D1F] font-semibold text-center;
  }


  body {
    font-family: 'Open Sans';
  }

  .login-header {
    @apply max-[360px]:text-wrap text-nowrap
  }