:root {
    --bg-selection: rgba(99, 62, 227, .1);
}
.error-msg{
    @apply font-bold text-xs text-red-500
}
.longTxtRestrict{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-right: 8px;
    width: 200px;
}
::selection {
    background: var(--bg-selection)
}

.longTxtRestrictMobile {
    overflow: hidden;
    text-overflow: ellipsis;
    /* white-space: nowrap; */
    padding-right: 8px;
    /* width: 130px; */
}

/* Hide number input spinners */
.no-spinners::-webkit-outer-spin-button,
.no-spinners::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.no-spinners {
  -moz-appearance: textfield; /* Firefox */
}